<div class="panel_b mainPanel">
  <h2 translate>My Campaign</h2>
  <div class="panel_body_b" >
  <form #detailForm="ngForm" (submit)="doFind($event)">
      <div class="container-fluid">
          <div style="margin-top: 10px;margin-left: 20px;">
           <div class="row col-3" style="padding-left: 0; padding-right: 0;">
              <div id="campaignTreeView" class="bordered">
                <div id="campaignTreeViewHeader" class="row padding-left subtitle border-bottom">
                    My Campaign
                </div>
                <div id="campaignTreeViewContent" style="margin-right:1px;white-space: nowrap; overflow: auto;" class="row inner t-zone">
                   <ul>
                      <div *ngFor="let itemCampaign of nodes; let first = first; index as i" [attr.data-index]="i">
                        
                          <div *ngIf="itemCampaign.padding;else otherContent">
                              <div class="padding"></div>
                          </div>
                          <ng-template #otherContent>
                              <li [style]="itemCampaign.nodeLineStyle">
                                  <img class="treeIcon" src="{{itemCampaign.nodeIcon}}" /> 
                                  
                                  <div style="margin-left:19px;">
                                  <div *ngIf="itemCampaign.terminal;else otherContentPrime">
                                      Liste des terminaux
                                  </div>
                                  <ng-template #otherContentPrime>
                                    <a href=""  [routerLink]="['/infoGeneralCmp']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">{{itemCampaign.name}} - {{itemCampaign.reference}}</a>
                                     <!--   <a href=""  [routerLink]="['reference', itemCampaign.reference, '/detailCampaign']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">{{itemCampaign.name}} - {{itemCampaign.reference}}</a>!-->
                                      
                                  </ng-template>
                              </div>
                              </li>
                          </ng-template>
                      </div>
                     
                   </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
  </form>
  </div>
  </div>
<div class="panel_b campagneOuverte" style="margin: 0 !important;">
<div class="panel_b">
    <h2 translate>Détails sur le média</h2>
    <div class="panel_body_b" >	
        <p-tabMenu #menuItems [model]="items" [activeItem]="activeItem" (click)="activateMenu()"></p-tabMenu>

        <br/>
        <div class="row bordered inner">
          <div class="col-md-12 col-form-actions">
              <button type="button" translate  class="btn btn-default float-right" (click)="doUpdateMedia()">
                  <em aria-hidden="true" class="icon-ico_close" title="{{'button.update' | translate}}"> </em>button.update</button>

              <button type="button" translate  class="btn btn-default float-right" (click)="doDeplacerMedia()">
                      <em aria-hidden="true" class="icon-ico_close" title="{{'button.addMedia' | translate}}"> </em>Déplacer vers le bas</button>  
          </div>
      </div>
        <form #detailForm="ngForm" (submit)="doSave(detailForm)">
            <div class="container-fluid">
                
                <div class="row padding-form-field">
                    <div class="col-md-5">
                        <label translate>Nom du média:</label>
                    </div>
                    <div class="col-md-7">
                        <span title="{{mediaBean.name}}">{{mediaBean.name}}</span>        
                    </div>
                </div>

                <div class="row padding-form-field">
                        <div class="col-md-5">
                            <label translate>Référence du média:</label>
                        </div>
                        <div class="col-md-7">
                            <span title="{{mediaBean.reference}}">{{mediaBean.reference}}</span>        
                        </div>
                    </div>

                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Durée de l'affichage du média (en secondes):</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.displayTime}}">{{mediaBean.displayTime}}</span>        
                    </div>   
                </div>

                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Localisation du média:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.location}}">{{mediaBean.location}}</span>        
                    </div>   
                </div>
                
                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Type de média:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.type}}">{{mediaBean.type}}</span>        
                    </div>   
                </div>
                
                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Dimension de médias (pixels):</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.dimension}}">{{mediaBean.dimension}}</span>        
                    </div>   
                </div>
                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Taille:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.displaySize}}">{{mediaBean.displaySize}}</span>        
                    </div>   
                </div>

                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Profondeur des couleurs (bits/pixel):</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.colourDepth}}">{{mediaBean.colourDepth}}</span>        
                    </div>   
                </div>

                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Etat:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.status}}">{{mediaBean.status}}</span>        
                    </div>   
                </div>

                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Raison de Désactivation:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.deactivationReason}}">{{mediaBean.deactivationReason}}</span>        
                    </div>   
                </div>

                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Commentaire:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.comment}}">{{mediaBean.comment}}</span>        
                    </div>   
                </div>
                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Dernière mise à jour par:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.lastUpdatedBy}}">{{mediaBean.lastUpdatedBy}}</span>        
                    </div>   
                </div>

                <div class="row padding-form-field" >
                    <div class="col-md-5">
                        <label translate>Date de la dernière mise à jour:</label>
                    </div>
                <div class="col-md-7">
                        <span title="{{mediaBean.lastUpdatedDate | date: datePatternFull}}">{{mediaBean.lastUpdatedDate | date: datePattern}}</span>     
                    </div>   
                </div>

                <div class="row">
                    <div class="col-md-12 col-form-actions">
                        <button type="button" translate class="btn btn-default float-right" (click)="doClear()">
                            <em aria-hidden="true" class="icon-ico_close" title="{{'CANCEL' | translate}}"> </em>CANCEL</button>
                    </div>


                    <p-dialog header="Quitter une page" [(visible)]="displayCancelPopup" [width]="300">
                        <span>
                            Etes-vous sûr de vouloir quitter la page "Tableau de bord de média" ?
                        </span>
                        <p-footer>
                            <button type="button" pButton icon="pi pi-check" (click)="onActionFromLeaveDashboredButton()" label="Oui"></button>
                            <button type="button" pButton icon="pi pi-close" (click)="displayCancelPopup=false" label="Non" class="ui-button-secondary"></button>
                        </p-footer>
                    </p-dialog>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
