<div class="panel_b">
    <div class="panel_body_b"    style="min-height: 40rem;" >
        
    <ul class="homeMenu">
            <li routerLinkActive="active"><a href="" [routerLink]="['/campaign']" translate><img src="../../assets/img/campaign.svg" height="20" title="{{'TITLE_CAMPAGNE' | translate}}" alt="-" />TITLE_CAMPAGNE</a></li>
            <!--<li routerLinkActive="active"><a href="" [routerLink]="['/contact']" translate><img src="../../assets/img/contacts-02.svg" height="20" title="{{'TITLE_CONTACT' | translate}}" alt="-"/>TITLE_CONTACT</a></li>
            <li routerLinkActive="active"><a href="" [routerLink]="['/faq']" translate><img src="../../assets/img/faq.svg" height="20" title="{{'TITLE_FAQ' | translate}}" alt="-"/>TITLE_FAQ</a></li>-->
        </ul>
    </div>
<div>