<div class="panel_b mainPanel">
    <h2 translate>My Campaign</h2>
    <div class="panel_body_b">
        <form #detailForm="ngForm" (submit)="doFind($event)">
            <div class="container-fluid">
                <div style="margin-top: 10px;margin-left: 20px;">
                    <div class="row col-3" style="padding-left: 0; padding-right: 0;">
                        <div id="campaignTreeView" class="bordered">
                            <div id="campaignTreeViewHeader" class="row padding-left subtitle border-bottom">
                                My Campaign
                            </div>
                            <div id="campaignTreeViewContent" style="margin-right:1px;white-space: nowrap; overflow: auto;"
                                class="row inner t-zone">
                                <ul>
                                    <div *ngFor="let itemCampaign of nodes; let first = first; let i = index;"
                                        [attr.data-index]="i">

                                        <div *ngIf="itemCampaign.padding;else otherContent">
                                            <div class="padding"></div>
                                        </div>
                                        <ng-template #otherContent>
                                            <li [style]="itemCampaign.nodeLineStyle">
                                                
                                                <img *ngIf="i == 0" class="treeIcon" src="{{itemCampaign.nodeIcon}}" /> 
                                                <img *ngIf="i != 0" style="margin-left: 10px;" src="{{itemCampaign.nodeIcon}}" /> 
                                                
                                                <div *ngIf="i == 0" style="margin-left:19px;">
                                                    <div *ngIf="itemCampaign.terminal;else otherContentPrime">
                                                        <a href="" translate [routerLink]="['/detailCampaign']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">
                                                            Terminal_List</a>
                                                    </div>
                                                    <ng-template #otherContentPrime>
                                                        <a href="" [routerLink]="['/infoGeneralCmp']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">{{itemCampaign.name}}
                                                            - {{itemCampaign.reference}}</a>
                                                        <!--   <a href=""  [routerLink]="['reference', itemCampaign.reference, '/detailCampaign']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">{{itemCampaign.name}} - {{itemCampaign.reference}}</a>!-->

                                                    </ng-template>
                                                </div>
                                                <div *ngIf="i != 0" style="margin-left:29px;">
                                                        <div *ngIf="itemCampaign.terminal;else otherContentPrime">
                                                            <a href="" [routerLink]="['/detailCampaign']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">
                                                                Liste des terminaux</a>
                                                        </div>
                                                        <ng-template #otherContentPrime>
                                                            <a href="" [routerLink]="['/infoGeneralCmp']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">{{itemCampaign.name}}
                                                                - {{itemCampaign.reference}}</a>
                                                            <!--   <a href=""  [routerLink]="['reference', itemCampaign.reference, '/detailCampaign']" (click)="getActionFromNodeLink(itemCampaign.type,nodes[0].reference,itemCampaign.reference)">{{itemCampaign.name}} - {{itemCampaign.reference}}</a>!-->
    
                                                        </ng-template>
                                             </div>
                                            </li>
                                        </ng-template>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel_b campagneOuverte" style="margin: 0 !important;">
    <div class="panel_b">
        <h2 translate>historique de la campagne</h2>
        <div class="panel_body_b">
            <p-tabMenu #menuItems [model]="items" [activeItem]="activeItem" (click)="activateMenu()"></p-tabMenu><br />
            <h3 translate class="subtitle">
                SEARCH_CRITERIA
            </h3>
            <form class="form-inline" (submit)="searchHistoric(filteredHistoric,parentReference,referenceHistoricMedia)"
                #fromTo="ngForm">
                <div class="form-group col-md-5">
                    <label translate for="from">From<span>:</span></label>
                    <app-datetime required name="startDate2" [(ngModel)]="startDate" class="dflex ui-inputtext"
                        #startDate2></app-datetime>
                </div>
                <div class="form-group col-md-5">
                    <label translate for="to">To<span>:</span></label>
                    <app-datetime required name="endDate2" class="dflex ui-inputtext" [(ngModel)]="endDate" #endDate2></app-datetime>
                </div>

                <input type="hidden" #reference [value]="reference" name="reference">
                <input type="hidden" #referenceMedia [value]="referenceMedia" name="referenceMedia">

                <button type="submit" class="btn btn-default btn-lg float-right" (click)="hideMessage=true">Recherche</button>

                <p translate *ngIf="!hideMessage">HistoricResults_Empty</p>
            </form>
            <div class="lineSpacing">
                <h3 translate *ngIf="!filteredHistoric && !_filteredHistoric && listHistoric" class="subtitle">
                    Historic
                </h3>
                <p-dataTable *ngIf="!filteredHistoric && !_filteredHistoric && listHistoric" [value]="listHistoric.loggingCampaignAction"
                    selectionMode="single" (onRowSelect)="onRowSelect($event)" emptyMessage="{{'HistoricResults_Empty_Campaign' | translate}}">

                    <p-column header="{{'Date' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-campaign="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{campaign.updatedDate | date: datePatternFull}}">{{campaign.actionDate
                                | date: datePattern}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'User' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-campaign="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{campaign.updatedBy}}">{{campaign.user}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'Action' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-campaign="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{campaign.action}}">{{campaign.action}}</span>
                        </ng-template>
                    </p-column>

                     <p-column header="{{'Field' | translate}}" [style]="{'width':'15%'}" field="fieldName">
                        <ng-template let-campaign="rowData" pTemplate type="body">
                            <div *ngFor="let actionDetailsItem of campaign.actionDetails" class="sizeText" title="{{actionDetailsItem}}">
                                {{actionDetailsItem.fieldName}}
                            </div>            
                        </ng-template>
                    </p-column>

                    <p-column header="{{'From' | translate}}" [style]="{'width':'15%'}" field="newValue">
                        <ng-template let-campaign="rowData" pTemplate type="body">
                            <div *ngFor="let actionDetailsItem of campaign.actionDetails" class="sizeText" title="{{actionDetailsItem.oldValue}}">
                                {{actionDetailsItem.oldValue}}
                            </div>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'To' | translate}}" [style]="{'width':'15%'}" field="oldValue">
                        <ng-template let-campaign="rowData" pTemplate type="body">
                            <div *ngFor="let actionDetailsItem of campaign.actionDetails" class="sizeText" title="{{actionDetailsItem.newValue}}">
                                {{actionDetailsItem.newValue}}
                            </div>
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </div>
            <div class="lineSpacing">
                <h3 *ngIf="!filteredHistoric && !_filteredHistoric && listHistoric" class="subtitle" translate="">
                    Media_Historic
                </h3>
                <p-dataTable *ngIf="!filteredHistoric && !_filteredHistoric && listHistoric" [value]="listHistoric.loggingCampaignMediaActions"
                    selectionMode="single" (onRowSelect)="onRowSelect($event)" emptyMessage="{{'HistoricResults_Empty_Media' | translate}}">

                    <p-column header="{{'Last_Updated_Date' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{mediaBean.updatedDate | date: datePatternFull}}">{{mediaBean.updatedDate
                                | date: datePattern}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'User' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{mediaBean.updatedBy}}">{{mediaBean.updatedBy}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'Media_Reference' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{mediaBean.terminalRef}}">{{mediaBean.mediaRef}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'Status' | translate}}" [style]="{'width':'15%'}" field="address">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{mediaBean.status}}">{{mediaBean.status}}</span>
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </div>
            <div class="lineSpacing">

                <h3 *ngIf="!filteredHistoric && !_filteredHistoric && listHistoric" class="subtitle" translate>
                    Terminal_Historic
                </h3>
                <p-dataTable *ngIf="!filteredHistoric && !_filteredHistoric && listHistoric" [value]="listHistoric.loggingCampaignTerminalActions"
                    selectionMode="single" (onRowSelect)="onRowSelect($event)" emptyMessage="{{'HistoricResults_Empty_Terminal' | translate}}">

                    <p-column header="{{'Last_Updated_Date' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-terminal="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{terminal.updatedDate | date: datePatternFull}}">{{terminal.updatedDate
                                | date: datePattern}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'User' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-terminal="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{terminal.updatedBy}}">{{terminal.updatedBy}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'Terminal_ID' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-terminal="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{terminal.terminalRef}}">{{terminal.terminalRef}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'Status' | translate}}" [style]="{'width':'15%'}" field="address">
                        <ng-template let-terminal="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{terminal.status}}">{{terminal.status}}</span>
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </div>
            <div class="lineSpacing">
                <h3 *ngIf="(!_filteredHistoric && filteredHistoric) && listHistoricMedia" class="subtitle">
                    Historic
                </h3>
                <p-dataTable *ngIf="(!_filteredHistoric && filteredHistoric) && listHistoricMedia" [value]="listHistoricMedia.loggingCampaignAction"
                    selectionMode="single" (onRowSelect)="onRowSelect($event)" emptyMessage="{{'HistoricResults_Empty_Media' | translate}}">

                    <p-column header="{{'Date' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{mediaBean.actionDate | date: datePatternFull}}">{{mediaBean.actionDate
                                | date: datePattern}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'User' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{mediaBean.user}}">{{mediaBean.user}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'Action' | translate}}" [style]="{'width':'15%'}" field="id">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <span class="sizeText" title="{{mediaBean.action}}">{{mediaBean.action}}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'Field' | translate}}" [style]="{'width':'15%'}" field="fieldName">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <div *ngFor="let actionDetailsItem of mediaBean.actionDetails" class="sizeText" title="{{actionDetailsItem.fieldName}}">
                                {{actionDetailsItem.fieldName}}
                            </div>            
                        </ng-template>
                    </p-column>

                    <p-column header="{{'From' | translate}}" [style]="{'width':'15%'}" field="newValue">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <div *ngFor="let actionDetailsItem of mediaBean.actionDetails" class="sizeText" title="{{actionDetailsItem.newValue}}">
                                {{actionDetailsItem.newValue}}
                            </div>
                        </ng-template>
                    </p-column>

                    <p-column header="{{'To' | translate}}" [style]="{'width':'15%'}" field="oldValue">
                        <ng-template let-mediaBean="rowData" pTemplate type="body">
                            <div *ngFor="let actionDetailsItem of mediaBean.actionDetails" class="sizeText" title="{{actionDetailsItem.oldValue}}">
                                {{actionDetailsItem.oldValue}}
                            </div>
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </div>
        </div>
    </div>
</div>
